body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    /* Textfarbe auf Weiß */
}

h1{
    text-align: center;
}

#content{
    display: flex;
    align-items: center;
    margin-top: 256px;
    position: relative;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    /* Zentrieren der Tabelle */
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    /* Zentrieren des Textes in den Zellen */
    font-size: 24px;
    padding: 0;
    /* Kein Innenabstand für die Zellen */
}

td:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

td,
th {
    border: 0;
    /* Entferne alle Border-Eigenschaften */
}

td:not(:last-child),
th:not(:last-child) {
    border-right: 5px solid white;
    /* Weiße Border mit 5px Dicke für die inneren Trennlinien */
}

tr:not(:last-child) td {
    border-bottom: 5px solid white;
    /* Weiße Border mit 5px Dicke für die inneren Trennlinien */
}


/* tr:hover {
    background-color: #555;
    
} */

td:hover {
    background-color: #777;
    /* Hintergrundfarbe bei Hover */
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-32 {
    margin-top: 32px;
}

button {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    background-color: #00B0EF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #96cadd;
}