body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    color: white; /* Textfarbe auf Weiß */
  }
  
  table {
    border-collapse: collapse;
    width: 300px; /* Festlegen der Tabellebreite */
    margin: 20px auto; /* Zentrieren der Tabelle */
  }
  
  td {
    width: 50px;
    height: 50px;
    border: 5px solid white; /* Weiße Border mit 5px Dicke */
    text-align: center; /* Zentrieren des Textes in den Zellen */
    font-size: 24px;
  }
  
  /* Optional: Hinzufügen von Stilen für Zeilen und Spalten (z.B., Hervorhebung bei Hover) */
  tr:hover {
    background-color: #555; /* Hintergrundfarbe bei Hover */
  }
  
  td:hover {
    background-color: #777; /* Hintergrundfarbe bei Hover */
  }
  